div.close-button{
	position: absolute;
	top: -10px;
	right: -10px;
	
	background: #000;
	border-radius: 20px;
	height: 20px;
	width: 20px;
	padding-top:-2px;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #fff;
	text-shadow: 0 0 .2em #ccc;
	text-align: center;
	overflow: hidden;
	border: 3px solid #fff;
	
	-moz-box-shadow: 0 0 8px #666;
  	-webkit-box-shadow: 0 0 8px #666;
  	box-shadow: 0 0 8px #666;

	cursor: pointer;
}


section#create-form{
	text-align: left;
	margin: 0;
	padding: 0;
	width: 540px;
}

section#create-form label{
	font-size: 19px;
	display: block;
	margin: 5px 0 5px 20px;
}

section#create-form select{
	width: 300px;
	text-align:center;
	font-size: 16px;
	margin-bottom: 20px;
	margin-left: 20px;
}
section#create-form textarea{
	width: 482px;
	height: 56px;
	border-radius: 10px;
	outline: none;
	padding: 10px;
	font-size: 18px;
	margin-left: 20px;
}
section#create-form button#submit-create{
	margin: 10px;
	margin-left: 405px;
}
#settings-underlay{
	position: fixed; 
	top: 50px; /*Set top value to HeightOfTopFrameDiv*/
	left: 0;
	right: 0;
	bottom: 30px; /*Set bottom value to HeightOfBottomFrameDiv*/
	overflow: auto; 
	background:#fff;
	background-image: -webkit-repeating-linear-gradient(135deg, #FFF, #FFF 5px, #FEFEFE 5px, #FEFEFE 10px);
	opacity: .6;
	display: none;
}
#settings { 
}
#settings header { 
	font-size: 30px;
}
#settings section#user-summary{ 
	float: left;
	margin: 20px;
}
.user-changes {
	margin-left: 200px;
	margin-top: 10px;
	margin-bottom: 15px;
	border-top: 1px solid #ccc;
	border-radius: 20px;
	padding: 10px 0 0 15px;
	width: 450px;
}
.user-changes input{
	margin: 0px 0 15px 0;
	font-size:20px;
	padding: 5px;
	width: 400px;
	text-shadow: -1px 1px 1px #ccc;
	border: 1px solid #666;
	-moz-box-shadow: 0 0 5px #222 inset;
	-webkit-box-shadow: 0 0 5px #222 inset;
	box-shadow: 0 0 5px #222 inset;
	background: rgba(0,0,0,.05);
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline:none;
	
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-int;
	-o-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;		
	transition: all 200ms ease-in;}

.user-changes label{
	display: block;
	font-size: 26px;
	text-shadow: -1px 1px 0 #ccc;
}
#settings button{
	position: absolute;
	bottom: 15px;
	right: 20px;
}


.bubble-responses h2{
	max-width: 620px;
	word-wrap: break-word;
}
.bubble-response-text{
	margin-top: 10px;
	font-weight: thin;
	border-top: 1px solid #ccc;
	padding: 5px;
	cursor: pointer;
	word-wrap: break-word;
}
.bubble-response-text strong{ 
	font-weight: bold;
}
.bubble-respond { 
	width: 100%;
	margin-top: 15px;
	text-align: right;
}








section#answer-form{
	text-align: left;
	margin: 0;
	padding: 0;
	width: 460px;
}

section#answer-form h1{
	width: 400px;
	border-bottom: 1px solid #ccc;
}

section#answer-form h2{
	margin-left: 0px;
	font-size: 30px;
	padding: 6px 20px;
	width: 400px;
	text-shadow: -1px 1px 0 #ccc;
}

section#answer-form label{
	font-size: 19px;
	color: #777;
	display: block;
	margin: 5px 0 5px 20px;
}

section#answer-form select{
	width: 300px;
	text-align:center;
	font-size: 16px;
	margin-bottom: 20px;
	margin-left: 20px;
}
section#answer-form textarea{
	width: 382px;
	height: 56px;
	border-radius: 10px;
	outline: none;
	padding: 10px;
	font-size: 20px;
	text-shadow: -1px 1px 0 #ccc;
	margin-left: 20px;
	
}
section#answer-form button#submit-answer{
	margin: 10px;
	margin-left: 261px;
	width: 165px;
}