div#message-box{
	position: absolute;
	top: 80px; 
	left: 30px;
	background-color: #fff;	
	padding: 10px;
	border-radius: 15px;
	-moz-border-radius: 15px;
	border:1px solid #222;
	
	display:none;
}

div#message-box section.step{
	color: #999;
	margin-top: 15px;
	padding: 15px 10px 0 10px;
	border-top:1px solid #aaa;
}
div#message-box section.step:first-child{
	border-top: none;
	padding-top: 0;
	margin-top: 0;
}
div#message-box section.step.active{
	color: #222;
	text-shadow: -1px 1px 0 #bbb;
}
div#message-box section.step h1{
	margin: 3px 0;
}
div#message-box section.step h2{
	margin: 0;
}